# Set Theory in SQL: Classlist Database
Â© Explore Data Science Academy

## Instructions to Students

This challenge is designed to determine how much you have learned so far and will test your knowledge set theory through the use of SQL queries.

The answers for this challenge should be selected on Athena for each corresponding Multiple Choice Question. The questions are included in this notebook and are numbered according to the Athena Questions, the options to choose from for each question has also been included.

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good Luck!_**

## Honour Code

I **Rizqah Meniers** , confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

## The Classlist Database

![Hi](https://upload.wikimedia.org/wikipedia/commons/3/39/Student_in_Class_%283618969705%29.jpg)

The Classlist database contains the records of multiple students who have undertaken primary and supplementary examinations in multiple subjects. This data is split across two tables: 

 - **Exammarks**; and 
 - **Supplementarymarks**

Unlike our previous challenge, we leave it up to you to investigate the contents of these tables and the various attributes they contain.

## Loading the database

To begin and start making use of SQL queries you need to prepare your SQL environment. You can do this by loading in the magic command `%load_ext sql`, next you can go ahead and load in your database. To do this you will need to ensure you have downloaded the `classlist.db`sqlite file from Athena and have stored it in a known location. 

Now that you have all the prerequistes you can go ahead and load it into the notebook.

In [1]:
%load_ext sql

In [2]:
%%sql 

sqlite:///classlist.db

## Questions on Set Theory 

Use the given cell below each question to execute your SQL queries to find the correct input from the options provided for the multiple choice questions on Athena.

In [3]:
%%sql

SELECT * FROM exammarks;

 * sqlite:///classlist.db
Done.

[('ANDHAR002', 'ANDERSEN', 'HAROLD', 'MALE', 26011998.0, 48, 94, 79, 100, 92),
 ('BARSUZ008', 'BARGER', 'SUZANNE', 'FEMALE', 14081998.0, 79, 36, 40, 40, 83),
 ('BECNAT003', 'BECKER', 'NATHANIEL', 'MALE', 7021998.0, 45, 95, 41, 99, 86),
 ('BLABRU006', 'BLAKE', 'BRUCE', 'MALE', 14021998.0, 44, 90, 61, 58, 41),
 ('BLADEL005', 'BLAND', 'DELORES', 'FEMALE', 15121998.0, 83, 90, 46, 58, 76),
 ('CAMLAR008', 'CAMPBELL', 'LARRY', 'MALE', 1121998.0, 56, 91, 68, 54, 39),
 ('CARBER005', 'CARVER', 'BERNARD', 'MALE', 20011998.0, 77, 90, 90, 93, 43),
 ('CHRCLA006', 'CHRISTOPHER', 'CLARENCE', 'MALE', 18021998.0, 39, 54, 46, 58, 41),
 ('CONJER005', 'CONNER', 'JEREMY', 'MALE', 12071998.0, 48, 35, 73, 56, 81),
 ('CONJAM005', 'CONRAD', 'JAMIE', 'MALE', 17111998.0, 61, 88, 42, 65, 60),
 ('CORPAU001', 'CORNETT', 'PAULA', 'FEMALE', 22061998.0, 97, 86, 66, 91, 59),
 ('CRARIC007', 'CRAWFORD', 'RICKY', 'MALE', 3071998.0, 62, 67, 35, 65, 89),
 ('CROJOY009', 'CROCKETT', 'JOYCE', 'FEMALE', 12031998.0, 72, 52, 86, 48, 73),
 ('CURPAU007', 'CURRAN', 'PAUL', 'MALE', 10061998.0, 44, 74, 62, 58, 71),
 ('DAVALL006', 'DAVIES', 'ALLEN', 'MALE', 9071998.0, 61, 49, 55, 37, 80),
 ('DEALIL005', 'DEATON', 'LILLIE', 'FEMALE', 3091998.0, 36, 35, 98, 66, 44),
 ('DIEKAT006', 'DIETZ', 'KATHLEEN', 'FEMALE', 26091998.0, 96, 66, 80, 43, 95),
 ('DILVER003', 'DILL', 'VERA', 'FEMALE', 2061998.0, 56, 43, 88, 62, 66),
 ('DIXCHA006', 'DIXON', 'CHARLIE', 'MALE', 10061998.0, 92, 39, 66, 64, 71),
 ('DODJAM003', 'DODD', 'JAMIE', 'MALE', 18051998.0, 85, 84, 96, 74, 100),
 ('DODJER009', 'DODSON', 'JEREMY', 'MALE', 21121998.0, 50, 39, 37, 65, 66),
 ('DONJEF008', 'DONAHUE', 'JEFFERY', 'MALE', 21081998.0, 78, 90, 92, 92, 89),
 ('DOSBIL007', 'DOSS', 'BILLIE', 'FEMALE', 25111998.0, 67, 99, 87, 45, 72),
 ('DUNEDD009', 'DUNN', 'EDDIE', 'MALE', 1121998.0, 68, 47, 85, 46, 41),
 ('EBEMON009', 'EBERT', 'MONICA', 'FEMALE', 21101998.0, 40, 59, 91, 74, 85),
 ('ESTMAB002', 'ESTEP', 'MABEL', 'FEMALE', 5041998.0, 58, 71, 37, 94, 84),
 ('FINSER001', 'FINCH', 'SERGIO', 'MALE', 5101998.0, 96, 84, 84, 37, 45),
 ('FINDAR006', 'FINN', 'DARYL', 'MALE', 19011998.0, 57, 96, 98, 52, 53),
 ('FINWAN008', 'FINNEY', 'WANDA', 'FEMALE', 5021998.0, 63, 74, 50, 92, 40),
 ('FLARUB001', 'FLANAGAN', 'RUBEN', 'MALE', 26021998.0, 77, 89, 58, 45, 47),
 ('FREAND002', 'FRENCH', 'ANDREW', 'MALE', 28081998.0, 100, 58, 85, 88, 90),
 ('GAIGUY005', 'GAINES', 'GUY', 'MALE', 3121998.0, 66, 73, 56, 81, 47),
 ('GENLOU008', 'GENTILE', 'LOUISE', 'FEMALE', 19011998.0, 97, 60, 80, 58, 72),
 ('GOFJAY008', 'GOFF', 'JAY', 'MALE', 15011998.0, 38, 86, 49, 80, 73),
 ('GRATRA008', 'GRADY', 'TRACY', 'MALE', 11071998.0, 58, 93, 99, 73, 87),
 ('GREBER009', 'GRECO', 'BERNICE', 'FEMALE', 20091998.0, 95, 43, 80, 98, 82),
 ('HARANT009', 'HARRIS', 'ANTHONY', 'MALE', 17081998.0, 43, 39, 76, 49, 95),
 ('HASJEA006', 'HASKINS', 'JEANETTE', 'FEMALE', 15121998.0, 90, 71, 56, 88, 51),
 ('HAYCHR005', 'HAYES', 'CHRIS', 'MALE', 13101998.0, 66, 90, 81, 63, 97),
 ('HILERI004', 'HILLMAN', 'ERIKA', 'FEMALE', 8121998.0, 71, 85, 67, 55, 77),
 ('HINJOR004', 'HINES', 'JORGE', 'MALE', 14031998.0, 42, 55, 80, 49, 66),
 ('HITCAR009', 'HITCHCOCK', 'CAROL', 'FEMALE', 13031998.0, 51, 90, 61, 67, 76),
 ('HOFBER004', 'HOFF', 'BERTHA', 'FEMALE', 19021998.0, 63, 36, 98, 43, 91),
 ('HOLGIL002', 'HOLDEN', 'GILBERT', 'MALE', 1051998.0, 90, 81, 51, 97, 48),
 ('HOLEMM002', 'HOLLIDAY', 'EMMA', 'FEMALE', 10011998.0, 91, 58, 46, 41, 37),
 ('HUMJAN005', 'HUMMEL', 'JANE', 'FEMALE', 4061998.0, 57, 96, 38, 42, 41),
 ('JARJUD002', 'JARRETT', 'JUDITH', 'FEMALE', 15051998.0, 74, 75, 83, 53, 93),
 ('KAMJOA002', 'KAMINSKI', 'JOANNE', 'FEMALE', 23121998.0, 77, 35, 35, 45, 44),
 ('KIRCHA007', 'KIRKPATRICK', 'CHARLES', 'MALE', 25091998.0, 80, 51, 71, 63, 60),
 ('KOEALE005', 'KOENIG', 'ALEXANDER', 'MALE', 18051998.0, 99, 94, 88, 39, 62),
 ('LANSYL008', 'LANGSTON', 'SYLVIA', 'FEMALE', 24041998.0, 41, 44, 91, 41, 49),
 ('LAYTAR004', 'LAY', 'TARA', 'FEMALE', 17071998.0, 62, 86, 61, 52, 92),
 ('LEBEVE005', 'LEBLANC', 'EVERETT', 'MALE', 17071998.0, 67, 35, 38, 65, 72),
 ('LINCAS009', 'LIND', 'CASSANDRA', 'FEMALE', 26011998.0, 59, 41, 60, 99, 67),
 ('LYOSAL002', 'LYONS', 'SALVADOR', 'MALE', 11071998.0, 81, 82, 86, 86, 83),
 ('MANFEL007', 'MANN', 'FELIX', 'MALE', 13051998.0, 41, 94, 35, 49, 66),
 ('MARSAM002', 'MARLOW', 'SAMANTHA', 'FEMALE', 18081998.0, 70, 59, 71, 89, 91),
 ('MATDUA005', 'MATHEWS', 'DUANE', 'MALE', 14081998.0, 90, 44, 83, 76, 60),
 ('MCCJOS004', 'MCCULLOUGH', 'JOSEPH', 'MALE', 6111998.0, 45, 83, 54, 98, 62),
 ('MCDDWI006', 'MCDANIEL', 'DWIGHT', 'MALE', 15061998.0, 53, 75, 49, 46, 45),
 ('MCGMIK008', 'MCGEE', 'MIKE', 'MALE', 24041998.0, 47, 51, 62, 43, 86),
 ('MCGLAR007', 'MCGRATH', 'LARRY', 'MALE', 10101998.0, 35, 64, 63, 78, 56),
 ('MICNAN006', 'MICHEL', 'NANCY', 'FEMALE', 12111998.0, 75, 81, 49, 82, 61),
 ('MILDOR009', 'MILLIGAN', 'DOROTHY', 'FEMALE', 21101998.0, 62, 74, 43, 43, 79),
 ('MOSWIL004', 'MOSELEY', 'WILLIE', 'FEMALE', 24101998.0, 36, 57, 75, 72, 65),
 ('MULPEA008', 'MULLIGAN', 'PEARL', 'FEMALE', 26011998.0, 58, 40, 52, 50, 87),
 ('NAGALI006', 'NAGEL', 'ALICIA', 'FEMALE', 18051998.0, 52, 43, 56, 71, 56),
 ('OLSBIL001', 'OLSON', 'BILLY', 'MALE', 31051998.0, 50, 80, 56, 88, 80),
 ('PARIRE006', 'PARR', 'IRENE', 'FEMALE', 18091998.0, 80, 87, 54, 73, 91),
 ('PARTER004', 'PARSONS', 'TERRENCE', 'MALE', 14121998.0, 59, 74, 85, 35, 90),
 ('PRIMAX006', 'PRITCHETT', 'MAXINE', 'FEMALE', 1021998.0, 70, 96, 54, 42, 60),
 ('RAMMON009', 'RAMOS', 'MONICA', 'FEMALE', 26121998.0, 99, 53, 94, 82, 62),
 ('RICSTE006', 'RICHARDSON', 'STEVE', 'MALE', 22031998.0, 75, 64, 40, 98, 60),
 ('RIGCHR008', 'RIGGS', 'CHRIS', 'MALE', 25081998.0, 96, 59, 96, 69, 59),
 ('RIZAND009', 'RIZZO', 'ANDREA', 'FEMALE', 2111998.0, 93, 79, 67, 52, 46),
 ('ROBRAN004', 'ROBERSON', 'RANDALL', 'MALE', 2011998.0, 66, 82, 94, 80, 46),
 ('RODJAC002', 'RODGERS', 'JACK', 'MALE', 11071998.0, 90, 96, 64, 87, 52),
 ('ROWELI002', 'ROWELL', 'ELIZABETH', 'FEMALE', 30121998.0, 48, None, None, 60, 83),
 ('SAUBRY002', 'SAUNDERS', 'BRYAN', 'MALE', 31031998.0, 50, 89, 61, 92, 60),
 ('SELGAR006', 'SELLERS', 'GARY', 'MALE', 22071998.0, 86, 51, 51, 54, 72),
 ('SEYLER003', 'SEYMOUR', 'LEROY', 'MALE', 17101998.0, 82, 95, 63, 36, 73),
 ('SHASAL002', 'SHANNON', 'SALVADOR', 'MALE', 6011998.0, 80, 46, 43, 60, 60),
 ('SHESTE009', 'SHELDON', 'STEPHANIE', 'FEMALE', 1031998.0, 89, 81, 96, 39, 54),
 ('SLANEI008', 'SLATER', 'NEIL', 'MALE', 20121998.0, 96, 90, 64, 84, 66),
 ('SNEDAN006', 'SNELL', 'DANIELLE', 'FEMALE', 3051998.0, 62, 100, 45, 64, 94),
 ('STADAL009', 'STAHL', 'DALE', 'MALE', 6111998.0, 58, 91, 65, 58, 100),
 ('STEELM002', 'STEPHENSON', 'ELMER', 'MALE', 19051998.0, 63, 37, 98, 53, 64),
 ('STECRA005', 'STEVENSON', 'CRAIG', 'MALE', 23071998.0, 59, 42, 48, 55, 82),
 ('STRJIM007', 'STRONG', 'JIMMY', 'MALE', 30081998.0, 50, 86, 35, 88, 36),
 ('THOKAT006', 'THOMASON', 'KATHY', 'FEMALE', 11071998.0, 98, 48, 78, 70, 37),
 ('WEBJON006', 'WEBER', 'JON', 'MALE', 26101998.0, 47, 68, 53, 63, 72),
 ('WEBJOE004', 'WEBSTER', 'JOE', 'MALE', 28061998.0, 96, 97, 59, 39, 42),
 ('WHISAM001', 'WHITAKER', 'SAM', 'MALE', 23121998.0, 37, 72, 91, 45, 92),
 ('WHIDAN002', 'WHITMORE', 'DANA', 'FEMALE', 10041998.0, 57, 88, 79, 50, 60),
 ('WISART004', 'WISE', 'ARTHUR', 'MALE', 21021998.0, 89, 48, 76, 45, 66)]

In [4]:
%%sql

SELECT * FROM Supplementarymarks;

 * sqlite:///classlist.db
Done.

[('ABRKEN007', 'ABRAMS', 'KENT', 'MALE', 28021998.0, 81, 94, 75, 70, 81),
 ('ANDHAR002', 'ANDERSEN', 'HAROLD', 'MALE', 26011998.0, 100, None, None, None, None),
 ('BARSUZ008', 'BARGER', 'SUZANNE', 'FEMALE', 14081998.0, None, 79, 89, 89, None),
 ('BECNAT003', 'BECKER', 'NATHANIEL', 'MALE', 7021998.0, 80, None, 75, None, None),
 ('BLABRU006', 'BLAKE', 'BRUCE', 'MALE', 14021998.0, 90, None, None, None, 72),
 ('BLADEL005', 'BLAND', 'DELORES', 'FEMALE', 15121998.0, None, None, 92, None, None),
 ('BROMIC003', 'BROWN', 'MICHAEL', 'MALE', 5081998.0, 68, 55, 62, 71, 82),
 ('CAMLAR008', 'CAMPBELL', 'LARRY', 'MALE', 1121998.0, None, None, None, None, 63),
 ('CARBER005', 'CARVER', 'BERNARD', 'MALE', 20011998.0, None, None, None, None, 50),
 ('CHRCLA006', 'CHRISTOPHER', 'CLARENCE', 'MALE', 18021998.0, 59, None, 53, None, 69),
 ('CONJAM005', 'CONRAD', 'JAMIE', 'MALE', 17111998.0, None, None, 93, None, None),
 ('CONJER005', 'CONNER', 'JEREMY', 'MALE', 12071998.0, 93, 92, None, None, None),
 ('CRAFEL004', 'CRANDALL', 'FELICIA', 'FEMALE', 10051998.0, 89, 72, 75, 79, 80),
 ('CRARIC007', 'CRAWFORD', 'RICKY', 'MALE', 3071998.0, None, None, 60, None, None),
 ('CROJOY009', 'CROCKETT', 'JOYCE', 'FEMALE', 12031998.0, None, None, None, 65, None),
 ('CURPAU007', 'CURRAN', 'PAUL', 'MALE', 10061998.0, 63, None, None, None, None),
 ('DAVALL006', 'DAVIES', 'ALLEN', 'MALE', 9071998.0, None, 92, None, 80, None),
 ('DEALIL005', 'DEATON', 'LILLIE', 'FEMALE', 3091998.0, 86, 71, None, None, 60),
 ('DIEKAT006', 'DIETZ', 'KATHLEEN', 'FEMALE', 26091998.0, None, None, None, 94, None),
 ('DILVER003', 'DILL', 'VERA', 'FEMALE', 2061998.0, None, 66, None, None, None),
 ('DIXCHA006', 'DIXON', 'CHARLIE', 'MALE', 10061998.0, None, 76, None, None, None),
 ('DODJAM003', 'DODD', 'JAMIE', 'MALE', 18051998.0, None, None, None, None, None),
 ('DODJER009', 'DODSON', 'JEREMY', 'MALE', 21121998.0, None, 62, 64, None, None),
 ('DOSBIL007', 'DOSS', 'BILLIE', 'FEMALE', 25111998.0, None, None, None, 93, None),
 ('DUNEDD009', 'DUNN', 'EDDIE', 'MALE', 1121998.0, None, 84, None, 68, 71),
 ('EBEMON009', 'EBERT', 'MONICA', 'FEMALE', 21101998.0, 98, None, None, None, None),
 ('ESTMAB002', 'ESTEP', 'MABEL', 'FEMALE', 5041998.0, None, None, 94, None, None),
 ('FINSER001', 'FINCH', 'SERGIO', 'MALE', 5101998.0, None, None, None, 97, 80),
 ('FINWAN008', 'FINNEY', 'WANDA', 'FEMALE', 5021998.0, None, None, None, None, 88),
 ('FLARUB001', 'FLANAGAN', 'RUBEN', 'MALE', 26021998.0, None, None, None, 88, 72),
 ('GAIGUY005', 'GAINES', 'GUY', 'MALE', 3121998.0, None, None, None, None, 51),
 ('GOFJAY008', 'GOFF', 'JAY', 'MALE', 15011998.0, 100, None, 98, None, None),
 ('GREBER009', 'GRECO', 'BERNICE', 'FEMALE', 20091998.0, None, 92, None, None, None),
 ('HARANT009', 'HARRIS', 'ANTHONY', 'MALE', 17081998.0, 57, 89, None, 79, None),
 ('HARJOH006', 'HARTMAN', 'JOHN', 'MALE', 13101998.0, 80, 62, 54, 71, 86),
 ('HINJOR004', 'HINES', 'JORGE', 'MALE', 14031998.0, 80, None, None, 50, None),
 ('HOFBER004', 'HOFF', 'BERTHA', 'FEMALE', 19021998.0, None, 82, None, 65, None),
 ('HOLEMM002', 'HOLLIDAY', 'EMMA', 'FEMALE', 10011998.0, None, None, 91, 50, 95),
 ('HOLGIL002', 'HOLDEN', 'GILBERT', 'MALE', 1051998.0, None, None, None, None, 91),
 ('HUMJAN005', 'HUMMEL', 'JANE', 'FEMALE', 4061998.0, None, None, 76, 79, 68),
 ('KAMJOA002', 'KAMINSKI', 'JOANNE', 'FEMALE', 23121998.0, None, 94, 57, 99, 89),
 ('KOEALE005', 'KOENIG', 'ALEXANDER', 'MALE', 18051998.0, None, None, None, 83, None),
 ('LANSYL008', 'LANGSTON', 'SYLVIA', 'FEMALE', 24041998.0, 84, 63, None, 65, 55),
 ('LEBEVE005', 'LEBLANC', 'EVERETT', 'MALE', 17071998.0, None, 94, 86, None, None),
 ('LINCAS009', 'LIND', 'CASSANDRA', 'FEMALE', 26011998.0, None, 57, None, None, None),
 ('MANFEL007', 'MANN', 'FELIX', 'MALE', 13051998.0, 52, None, 79, 60, None),
 ('MATDUA005', 'MATHEWS', 'DUANE', 'MALE', 14081998.0, None, 99, None, None, None),
 ('MCCJOS004', 'MCCULLOUGH', 'JOSEPH', 'MALE', 6111998.0, 68, None, None, None, None),
 ('MCDDWI006', 'MCDANIEL', 'DWIGHT', 'MALE', 15061998.0, None, None, 91, 54, 50),
 ('MCGLAR007', 'MCGRATH', 'LARRY', 'MALE', 10101998.0, 52, None, None, None, None),
 ('MCGMIK008', 'MCGEE', 'MIKE', 'MALE', 24041998.0, 50, None, None, 77, None),
 ('MICNAN006', 'MICHEL', 'NANCY', 'FEMALE', 12111998.0, None, None, 79, None, None),
 ('MILDOR009', 'MILLIGAN', 'DOROTHY', 'FEMALE', 21101998.0, None, None, 98, 76, None),
 ('MOSWIL004', 'MOSELEY', 'WILLIE', 'FEMALE', 24101998.0, 78, None, None, None, None),
 ('MULPEA008', 'MULLIGAN', 'PEARL', 'FEMALE', 26011998.0, None, 70, None, None, None),
 ('NAGALI006', 'NAGEL', 'ALICIA', 'FEMALE', 18051998.0, None, 82, None, None, None),
 ('PARTER004', 'PARSONS', 'TERRENCE', 'MALE', 14121998.0, None, None, None, 83, None),
 ('PRIMAX006', 'PRITCHETT', 'MAXINE', 'FEMALE', 1021998.0, None, None, None, 60, None),
 ('RICSTE006', 'RICHARDSON', 'STEVE', 'MALE', 22031998.0, None, None, 87, None, None),
 ('RIZAND009', 'RIZZO', 'ANDREA', 'FEMALE', 2111998.0, None, None, None, None, 55),
 ('ROBRAN004', 'ROBERSON', 'RANDALL', 'MALE', 2011998.0, None, None, None, None, 79),
 ('ROWELI002', 'ROWELL', 'ELIZABETH', 'FEMALE', 30121998.0, 81, 71, 71, None, None),
 ('SEYLER003', 'SEYMOUR', 'LEROY', 'MALE', 17101998.0, None, None, None, 86, None),
 ('SHASAL002', 'SHANNON', 'SALVADOR', 'MALE', 6011998.0, None, 70, 94, None, None),
 ('SHESTE009', 'SHELDON', 'STEPHANIE', 'FEMALE', 1031998.0, None, None, None, 62, None),
 ('SNEDAN006', 'SNELL', 'DANIELLE', 'FEMALE', 3051998.0, None, None, 81, None, None),
 ('STECRA005', 'STEVENSON', 'CRAIG', 'MALE', 23071998.0, None, 100, 61, None, None),
 ('STEELM002', 'STEPHENSON', 'ELMER', 'MALE', 19051998.0, None, 73, None, None, None),
 ('STRJIM007', 'STRONG', 'JIMMY', 'MALE', 30081998.0, None, None, 53, None, 81),
 ('THOKAT006', 'THOMASON', 'KATHY', 'FEMALE', 11071998.0, None, 73, None, None, 52),
 ('WEBJOE004', 'WEBSTER', 'JOE', 'MALE', 28061998.0, None, None, None, 64, 62),
 ('WEBJON006', 'WEBER', 'JON', 'MALE', 26101998.0, 70, None, None, None, None),
 ('WHISAM001', 'WHITAKER', 'SAM', 'MALE', 23121998.0, 75, None, None, 65, None),
 ('WILSHE005', 'WILL', 'SHEILA', 'FEMALE', 9061998.0, 96, 97, 65, 90, 80),
 ('WISART004', 'WISE', 'ARTHUR', 'MALE', 21021998.0, None, 52, None, 51, None)]

**Question 2**

How many students did not write any of their final exams?

**Options:** 
 - 5
 - 95
 - 70
 - 25

**Solution**

In [5]:
%%sql

SELECT COUNT(*)
FROM Supplementarymarks
WHERE Maths IS NULL
OR Science IS NULL
OR Biology IS NULL
OR Accounting IS NULL
OR CompSci IS NULL;

 * sqlite:///classlist.db
Done.

[(70,)]

**Question 4**

What are the names of the students in the grade who scored the highest marks for Science? _(hint: you need to consider the exam AND supplementary exam marks)_

**Options:**
 - Jack and Jane
 - Joe and Duane
 - Leroy and Harold
 - Craig and Danielle

**Solution**

In [6]:
%%sql

SELECT Surname, Name, Science
FROM Exammarks
UNION
SELECT Surname, Name, Science
FROM Supplementarymarks
ORDER BY Science DESC
LIMIT 5;

 * sqlite:///classlist.db
Done.

[('SNELL', 'DANIELLE', 100),
 ('STEVENSON', 'CRAIG', 100),
 ('DOSS', 'BILLIE', 99),
 ('MATHEWS', 'DUANE', 99),
 ('WEBSTER', 'JOE', 97)]

**Question 5**

How many students had to re-write their Maths and science exam? *(hint: a passing mark is considered to be 50 or greater)*

**Options:**
 - 12
 - 4
 - 20
 - 9

**Solution**

In [7]:
%%sql 

SELECT COUNT(*)
FROM Exammarks
WHERE Maths < 50
AND Science < 50;

 * sqlite:///classlist.db
Done.

[(4,)]

**Question 6**

What was the average mark, rounded down, for students who wrote the supplementary accounting exam after missing the first?

**Options:**
 - 73
 - 79
 - 76
 - 82

**Solution**

In [8]:
%%sql

SELECT AVG(Accounting)
FROM Exammarks;

 * sqlite:///classlist.db
Done.

[(64.25263157894737,)]

**Question 7**

What was the average mark, rounded down, for students who wrote the supplementary accounting exam after failing the first?

**Options:**
 - 79
 - 82
 - 76
 - 73

**Solution**

In [9]:
%%sql 

SELECT AVG(Accounting)
FROM Supplementarymarks;

 * sqlite:///classlist.db
Done.

[(73.84375,)]

**Question 9**

What is the Full name of the student in the grade who scored the highest mark for Biology? *(hint: consider both supplementary and exam marks)*
 
 **Options:**
 - Tracy Grady
 - Bertha Hoff
 - Daryl Finn
 - Lillie Deaton

**Solution**

In [10]:
%%sql 

SELECT Surname, Name, Biology
FROM Exammarks
UNION
SELECT Surname, Name, Biology
FROM Supplementarymarks
ORDER BY Biology DESC
LIMIT 1;

 * sqlite:///classlist.db
Done.

[('GRADY', 'TRACY', 99)]

**Question 10**

Assuming all subjects are weighted equally, what was the average total mark, rounded down, for students who didnât write any supplementary exams?
 
**Options:**
 - 74
 - 66
 - 73
 - 76

**Solution**

In [11]:
%%sql 

SELECT ((AVG(Maths) + AVG(Science)+ AVG(Biology)+ AVG(Accounting)+ AVG(CompSci))/5) AS Total_avg
FROM Exammarks;

 * sqlite:///classlist.db
Done.

[(67.0315117581187,)]